In [12]:
n=int(input("Enter the number of cities "))
cities=[]
for i in range(n):
    cities.append(input("Enter city name "))

Enter the number of cities 5
Enter city name Ahmedabad
Enter city name Kolkata
Enter city name Surat
Enter city name Mumbai
Enter city name Pune

In [13]:
cities1=dict(enumerate(cities))

In [14]:
cities1

{0: 'Ahmedabad', 1: 'Kolkata', 2: 'Surat', 3: 'Mumbai', 4: 'Pune'}

In [15]:
from bs4 import BeautifulSoup
import requests

def find_distance(a,b):
    a,b=a.lower(),b.lower()

    url=f"https://www.distancefromto.net/distance-from-{a}-in-to-{b}-in"
    r=requests.get(url)
    soup=BeautifulSoup(r.content,"lxml")
    d=soup.find("p").text
    d=d.split("kilometers")
    d=d[0].strip()
    d=d.split()
    return int(d[-1].replace(",",""))

In [16]:
matrix=[]
for i in range(len(cities)):
    for j in range(len(cities)):
        
        matrix.append(find_distance(cities1[i],cities1[j]))

In [17]:
matrix

[0,
 1620,
 204,
 439,
 516,
 1620,
 0,
 1612,
 1656,
 1577,
 204,
 1612,
 0,
 235,
 315,
 439,
 1656,
 235,
 0,
 119,
 516,
 1577,
 315,
 119,
 0]

In [18]:
import numpy as np

In [19]:
matrix=np.array(matrix).reshape(len(cities),len(cities))

In [20]:
matrix

array([[   0, 1620,  204,  439,  516],
       [1620,    0, 1612, 1656, 1577],
       [ 204, 1612,    0,  235,  315],
       [ 439, 1656,  235,    0,  119],
       [ 516, 1577,  315,  119,    0]])

In [21]:
import pandas as pd
info=pd.DataFrame(matrix,index=cities,columns=cities)

In [22]:
info

           Ahmedabad  Kolkata  Surat  Mumbai  Pune
Ahmedabad          0     1620    204     439   516
Kolkata         1620        0   1612    1656  1577
Surat            204     1612      0     235   315
Mumbai           439     1656    235       0   119
Pune             516     1577    315     119     0